<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="imagetoolbar" content="no">
<meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
<title>로그인 | OceanIX AquaX</title>
<link rel="stylesheet" href="http://aquax.oceanix.kr/theme/basic/css/style.css?ver=161020">
<!--[if lte IE 8]>
<script src="http://aquax.oceanix.kr/js/html5.js"></script>
<![endif]-->
<script src="http://aquax.oceanix.kr/js/jquery-1.8.3.min.js"></script>
<script src="http://aquax.oceanix.kr/js/jquery.menu.js?ver=161020"></script>
<script src="http://aquax.oceanix.kr/js/common.js?ver=161020"></script>
<script src="http://aquax.oceanix.kr/js/wrest.js?ver=161020"></script>
</head>
<body>
<!-- 로그인 시작 { -->
<div id="mb_login" class="mbskin">
    <h1>로그인</h1>

    <form name="flogin" action="https://aquax.oceanix.kr/bbs/login_check.php" onsubmit="return flogin_submit(this);" method="post">
    <input type="hidden" name="url" value="http%3A%2F%2Faquax.oceanix.kr">

    <fieldset id="login_fs">
        <legend>회원로그인</legend>
        <label for="login_id" class="login_id">AquaX ID</label>
        <input type="text" name="mb_id" id="login_id" required class="frm_input required" size="20" maxLength="20" placeholder="OceanIX">
        <label for="login_pw" class="login_pw">암호</label>
        <input type="password" name="mb_password" id="login_pw" required class="frm_input required" size="20" maxLength="20" placeholder="****">
        <input type="submit" value="로그인" class="tb_btn">
    </fieldset>

    <aside id="login_info">
        <h2>AquaX 이용 안내</h2>
        <p>
            OceanIX 고객전용 포털 사이트 입니다. <br />
			보안을 위해 모든 기록은 서버에 저장됩니다.
        </p>
    </aside>

</div>
<!-- } 로그인 끝 -->

</body>
</html>