<!DOCTYPE HTML>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Test</title>
<script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"04be3fc56829ccbf93917485da5775ed",petok:"3b1954b3688d2daf2b714452478e9ea054af73c4-1486702300-1800",zone:"ohs1018.me",rocket:"a",apps:{}}];document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js"><'+'\/script>');}}catch(e){};
//]]>
</script>
    {% load static %}
<link href="{% static '/css/1.css' %}" rel="stylesheet">
<link href="{% static '/css/2.css' %}" rel="stylesheet">
<link href="{% static '/css/3.css' %}" rel="stylesheet">
</head>
<body style="background-color: #f5f5f5;">
<nav id="ocx-nav">
<div class="ocx-container">
<ul>
<li><a href="#">Logo</a></li>
</ul>
</div>
</nav>
<article id="ocx-content">
<p class="title" style="font-size: 21px; font-weight: 500;">서버이름을 출력합니다.</p>
<hr/>
<div id="lContent" style="float: left;">
<div class="row">
<div class="col-sm-1 vps-box active">
<i class="fa fa-info-circle" aria-hidden="true"></i>
<p>상세정보</p>
</div>
<div class="col-sm-1 vps-box">
<i class="fa fa-info-circle" aria-hidden="true"></i>
<p>트래픽</p>
</div>
<div class="col-sm-1 vps-box">
<i class="fa fa-info-circle" aria-hidden="true"></i>
<p>전원</p>
</div>
<div class="col-sm-1 vps-box">
<i class="fa fa-info-circle" aria-hidden="true"></i>
<p>VNC</p>
</div>
<div class="col-sm-1 vps-box">
<i class="fa fa-info-circle" aria-hidden="true"></i>
<p>서버설정</p>
</div>
<div class="col-sm-1 vps-box">
<i class="fa fa-info-circle" aria-hidden="true"></i>
<p>모니터링</p>
</div>
</div>
<div class="row clearfix">
<div class="col-sm-2 vps-box2">
<p id="title">CPU</p>
<p id="subTitle">100%</p>
</div>
<div class="col-sm-2 vps-box2">
<p id="title">Memory</p>
<p id="subTitle">100%</p>
</div>
<div class="col-sm-2 vps-box2">
<p id="title">Disk</p>
<p id="subTitle">100%</p>
</div>
</div>
<div class="row clearfix">
<div id="sDetail"></div>
</div>
<div class="row clearfix">
<div id="sWork">
<div class="sInfo-heading">
<p>최근 작업 내역</p>
</div>
</div>
</div>
</div>
<div id="rContent">
<div id="sInfo">
<div class="sInfo-heading">
<p>서비스 정보</p>
<div id="disk">
<p>Disk:</p>
<p class="rp">10GB</p>
</div>
<div id="memory">
<p>Memory:</p>
<p class="rp">1024MB</p>
</div>
<div id="os">
<p>OS:</p>
<p class="rp">Windows Server</p>
</div>
</div>
</div>
<div id="aInfo">
<div class="sInfo-heading">
<p>최근 알림 내역</p>
</div>
</div>
</div>
</article>
<script data-rocketsrc="//use.typekit.net/pfv5tny.js" type="text/rocketscript"></script>
<script type="text/rocketscript">try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>